/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_mo1 {
            timeout-ms = <100>;
            key-positions = <1 2>;
            bindings = <&mo 1>;
        };

        combo_mo2 {
            timeout-ms = <100>;
            key-positions = <28 29>;
            bindings = <&mo 2>;
        };
    };
};

&mt { tapping-term-ms = <400>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                 &kp D           &kp R        &kp W        &kp B        &kp J        &kp F        &kp U        &kp P            &kp BACKSPACE
&mt LGUI A            &mt RALT S      &mt LSHFT H  &mt LCTRL T  &kp G        &kp Y        &mt RCTRL N  &mt RSHFT E  &mt RALT O       &kp I
&kp Z                 &mt LEFT_ALT X  &kp M        &kp C        &kp V        &kp K        &kp L        &kp COMMA    &mt LALT PERIOD  &kp SLASH
&kp LEFT_PARENTHESIS                  &kp TAB      &lt 1 SPACE  &lt 1 SPACE  &lt 2 SPACE               &kp TAB                       &kp RIGHT_PARENTHESIS
            >;
        };

        nav_layer {
            bindings = <
&kp ESC  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans   &kp BSPC
&trans   &trans  &trans  &trans  &trans  &trans  &trans  &kp SEMI  &kp SQT  &trans
&trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans   &mo 2
&trans           &trans  &trans  &trans  &trans          &trans             &trans
            >;
        };

        symbol_layer {
            bindings = <
&kp N1     &kp N2     &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&kp MINUS  &kp EQUAL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans                &trans  &trans  &trans  &trans          &trans          &trans
            >;
        };

        f_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans  &trans          &trans          &trans
            >;
        };
    };
};
